@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    background-color: #1f1517;
    color: #FFF2E7;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1F1517;
    color: #FFF2E7;
}

.header_text_navegation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    gap: 20px;
}

.header_text_navegation p, .extra_text_header {
    margin: 0 15px;
    font-size: 1.2rem;
}

.icon_text {
    font-size: 2rem;
    font-weight: 700;
}


.recipe_intro {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align:center;
    gap: 30px;
    margin-bottom: 2rem;
}

.recipe_grid {
    display:flex;
}

.recipe_card {
    width: 100%;
    background-color: #181012;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.recipe_card h3 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.recipe_card p {
    font-size: 1rem;
    color: #C7BAB3;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: #23181A;
    color: #FFF2E7;
}

footer h5 {
    margin: 0;
    font-size: 1rem;
}

footer p {
    font-size: 0.8rem;
    opacity: 0.7;
    margin: 0;
}



.recipe-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recipe-form label {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: #C7BAB3;
}

.recipe-form input[type="text"],
.recipe-form textarea,
.recipe-form input[type="file"] {
    padding: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-color: #1f1517;
    color: #FFF2E7;
    border: 1px solid #756A67;
    border-radius: 5px;
    outline: none;
}

.recipe-form textarea {
    resize: vertical;
    min-height: 100px;
}

.recipe-form button {
    background-color: #A45A49;
    color: #FFF2E7;
    padding: 12px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recipe-form button:hover {
    background-color: #C68A6C;
}

.cafe_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #241a1c;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    color: #FFF2E7;
}

.cafe_container_infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%
}

.img_config{
    width: 230px;
    height: 230px;
    border-radius: 10px;
}